<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href="/media/css/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<table width='75%' align="center" border="0" cellspacing="0" cellpadding="10">
        <tr>
                <td>Hiventory76</td>
                <td class="header" align="right">
                        <a href="/parts/">Parts</a> 
                        | <a href="/stock/">Stock</a>
                        | <a href="/vendors/">Vendors</a> 
                        | <a href="/locations/">Locations</a> 
                        | <a href="/reports/">Reports</a> 
                </td>
        </tr>
        <tr>
                <td align="left" class="header">
                        {% if user.is_authenticated %}
                                Logged in as {{ user }} | <a href="/accounts/logout/">Log-Out</a>
                        {% else %}
                                Sign Up or <a href="/accounts/login/?next={{request.path}}">Log-In</a>
                        {% endif %}
                </td>
                <td align="right" colspan="2"><form name="frmMasterSearch" action="/parts/" method="POST">Search: <input type="text" name="txtMasterPartSearch"><input type="Submit" name="Submit" value="Search"></form></td>
        </tr>
</table>
<br>
<br>
<br>
{% block content %}{% endblock %}
</body>
</html>
