{% extends 'layout.html' %}

{% block title %}Edit Components{% endblock%}

{% block content %}
<table align="center">
        <tr>
                <td colspan="3" align="center">{% if part.photo %}<a href="{{ part.photo.url }}"><img border="0" src="{{ part.photo.url }}" width="200"></a>{% endif %}</td>
        </tr>
        <tr>
                <th align="right">Name:</th>
                <td>{{ part.name }}</td>
        </tr>
        <tr>
                <th align="right">Description:</th>
                <td>{{ part.description }}</td>
        </tr>
        <tr>
                <th align="right">Minimum Stock:</th>
                <td>{{ part.minimum_stock }}</td>
        </tr>
        <tr>
                <th align="right">Current Stock:</th>
                <td>{{ part.stock.count }}</td>
        </tr>
        <tr>
                <th align="right">Status:</th>
                <td>{{ part.get_status_display }}</td>
        </tr>
                <th align="right">Type:</th>
                <td>{{ part.get_type_display }}</td>
        </tr>
</table>
<p>
<p>
<table align="center">
        <tr>
                <th colspan="3">
                        Components
                </th>
        </tr>
        {% for component in part.components.all %}
        <tr>
                <form method="POST" action="" enctype="multipart/form-data" name="update_part_{{ component.child_part.id }}">
                <input type="hidden" name="update_part" value="{{ component.child_part.id }}">
                <td>
                        {{ component.child_part.name }}
                </td>
                <td>
                        <input type="text" name="quantity" value="{{ component.quantity }}" size=3>
                </td>
                <td>
                                <input type="Submit" name="Submit" value="Update">
                                <input type="Submit" name="Submit" value="Remove">
                </td>        
                </form>
        </tr>        
        {% endfor %}
</table>
<p />
<p />
<form method="POST" action="" name="partSearch">
<table align=center border=0>
        <tr>
                <th colspan=2>Search</th>
        </tr>
        <tr>
                <td>
                        <label for="txtPartSearch">Part Number:</label>
                        <input type="text" name="txtPartSearch">
                </td>
                <td>
                        <label for="txtLocationSearch">Location:</label>
                        <input type="text" name="txtLocationSearch">
                </td>
        </tr>
        <tr>
                <td align="center" colspan="2">
                        <input type="Submit" name="Submit" value="Reset">
                        <input type="Submit" name="Submit" value="Search">
                </td>
        </tr>
</table>
</form>

<table align="center">
        <tr>
                <th colspan="3">
                        Add
                </th>
        </tr>
        {% for component in parts.object_list %}
        <tr>
                <form method="POST" action="" enctype="multipart/form-data" name="add_part_{{ component.id }}">
                <input type="hidden" name="add_part" value="{{ component.id }}">
                <td>
                        {{ component.name }}
                </td>
                <td>
                        <input type="text" name="quantity" value="1" size="3">
                </td>
                <td>
                        <input type="Submit" name="Submit" value="Add">
                </td>
                </form>
        </tr>
        {% endfor %}
</table>
<div class="pagination" align="center">
<span class="step-links">
{% if parts.has_previous %}
<a href="?page={{ parts.previous_page_number }}">previous</a>
{% endif %}

<span class="current">
Page {{ parts.number }} of {{ parts.paginator.num_pages }}.
</span>

{% if parts.has_next %}
<a href="?page={{ parts.next_page_number }}">next</a>
{% endif %}
</span>
</div>


</form>
{% endblock %}
